<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type='application/ld+json'>
	{
		"@context": "http://www.schema.org",
		"@type": "ClothingStore",
		"name": "Erin's LuLaRoe",
		"url": "http://erinslularoe.com",
		"logo": "http://erinslularoe.com/assets/css/images/llr-logo.png",
		"image": "http://erinslularoe.com/images/collage-001.png",
		"description": "Erin's LuLaRoe sells fashionable & comfortable women's tops, dresses, maxi skirts, & buttery soft leggings. Browse and shop Erin's LuLaRoe inventory online!",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Stoughton",
			"addressRegion": "WI",
			"postalCode": "53589",
			"addressCountry": "USA"
		}
	}
</script>
<script type='application/ld+json'>
	{
		"@context": "http://www.schema.org",
		"@type": "person",
		"name": "Erin Harried",
		"jobTitle": "Fashion Consultant",
		"url": "https://www.facebook.com/lularoeerinharried/",
		"email": "lularoeerinharried@gmail.com"
	}
</script>
<style type="text/css">
	#sticky-messenger {
		position: fixed;
		top: 0px;
		right: 0px;
		padding: 4px 10px 6px 5px;
		/*border-bottom-left-radius: 10px;*/
		background-color: #1786fb;
		/*border-bottom-right-radius: 10px;*/
		color: white !important;
		cursor: pointer;
	}

	#sticky-messenger i {
		cursor: pointer;
	}

	#sticky-messenger:hover {
		background-color: #0547eb;
		cursor: pointer;
	}


	@media screen and (max-width: 767px) and (min-width: 1px) {
		#sticky-messenger {
			right: 0px !important;
			padding: 15px 15px 10px 10px !important;
		}
	}
</style>
{% include mailchimp.html %}
<a id="sticky-messenger" href="https://m.me/lularoeerinharried" target="_blank">
	<i class="fa fa-comments" aria-hidden="true" style="font-size: 2rem;"></i>
	<span class="hidden-xs">Message</span>
</a>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/erins-llr.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->