<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type='application/ld+json'>
	{
		"@context": "http://www.schema.org",
		"@type": "ClothingStore",
		"name": "Erin's LuLaRoe",
		"url": "http://erinslularoe.com",
		"logo": "http://erinslularoe.com/images/#",
		"image": "http://erinslularoe.com/images/#",
		"description": "This is your description",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Stoughton",
			"addressRegion": "WI",
			"postalCode": "53589",
			"addressCountry": "USA"
		}
	}
</script>
<style type="text/css">
	#sticky-messenger {
		position: fixed;
		bottom: 0px;
		right: 20px;
		padding: 10px 20px 5px 8px;
		border-top-left-radius: 10px;
		background-color: #1786fb;
		border-top-right-radius: 10px;
		color: white !important;
		cursor: pointer;
	}

	#sticky-messenger i {
		cursor: pointer;
	}

	#sticky-messenger:hover {
		background-color: #0547eb;
		cursor: pointer;
	}


	@media screen and (max-width: 767px) and (min-width: 1px) {
		#sticky-messenger {
			right: 0px !important;
			padding: 15px 15px 10px 10px !important;
		}
	}
</style>
<a id="sticky-messenger" href="https://m.me/lularoeerinharried" target="_blank">
	<i class="fa fa-comments" aria-hidden="true" style="font-size: 2rem;"></i>
	<span class="hidden-xs">Message</span>
</a>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/erins-llr.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->