<style type="text/css">
	p.disclaimer-copy {
		line-height: normal;
		font-size: 14px;
		font-style: italic;
	}
</style>
<p class="disclaimer-copy"><small><strong>*Go up ONE size in the JULIA dress. Go down TWO sizes in the IRMA top. Sizes may vary depending on fabric.</strong></small></p>
<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>
				LULAROE SIZE
			</th>
			<th>
				YOUR SIZE
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				XXS
			</td>
			<td>
				Size 00-0
			</td>
		</tr>
		<tr>
			<td>
				XS
			</td>
			<td>
				Size 0-2
			</td>
		</tr>
		<tr>
			<td>
				S
			</td>
			<td>
				Size 4-6
			</td>
		</tr>
		<tr>
			<td>
				M
			</td>
			<td>
				Size 8-10
			</td>
		</tr>
		<tr>
			<td>
				L
			</td>
			<td>
				Size 12-14
			</td>
		</tr>
		<tr>
			<td>
				XL
			</td>
			<td>
				Size 16-18
			</td>
		</tr>
		<tr>
			<td>
				2XL
			</td>
			<td>
				Size 20-22
			</td>
		</tr>
		<tr>
			<td>
				3XL
			</td>
			<td>
				Size 24-26
			</td>
		</tr>
		<tr>
			<td>
				Adult <strong>ONE SIZE</strong> Leggings
			</td>
			<td>
				Size 0-12
			</td>
		</tr>
		<tr>
			<td>Adult <strong>TALL/CURVY</strong> Leggings

			</td>
			<td>
				Size 10-18
			</td>
		</tr>
		<tr>
			<td>
				Adult <strong>TC2</strong> Leggings
			</td>
			<td>
				Size 18+
			</td>
		</tr>
		<tr>
			<td>
				<strong>KIDS' S/M</strong> Leggings
			</td>
			<td>
				Size 2T-7
			</td>
		</tr>
		<tr>
			<td>
				<strong>KIDS' X/XL</strong> Leggings
			</td>
			<td>
				Size 7-12
			</td>
		</tr>
		<tr>
			<td>
				<strong>TWEEN</strong> Leggings
			</td>
			<td>
				Size 8-14 <small><em>(ADULT 00-0)</em></small>
			</td>
		</tr>
	</tbody>
</table>