<style type="text/css">
	.size-refinements {
		padding-left: 15px;
	}

	.size-refinements ul li:hover,
	.size-refinements ul:hover {
		border-bottom: none !important;
	}

	.size-refinements ul li {
		list-style: none;
		display: inline;
	}

	.size-refinements ul li a {
		margin-bottom: 5px !important;
	}

	.size-refinements ul {
		padding-left: 0px !important
	}

	.size-refinements h5 a.btn {
		padding-left: 0px !important;
		color: #333 !important;
		font-weight: 900 !important;
		padding-bottom: 0px !important;
	}

	@media screen and (max-width: 1199px) and (min-width: 768px) {
		.size-refinements {
			padding-top: 15px;
		}
	}
</style>
<div class="size-refinements">
	<h5>
		<a href="{{ site.baseurl }}{{ page.sizing-link }}" class="btn btn-sm btn-link" type="button">Leggings Sizes</a>
	</h5>
	<ul>
		<li>
			<a href="{{ site.baseurl }}/styles" class="btn btn-sm btn-default" type="button">ALL STYLES</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}{{ page.sizing-link }}" class="btn btn-sm btn-default" type="button">ALL LEGGINGS</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}{{ page.sizing-link }}/one-size/" class="btn btn-sm btn-default" type="button">ONE SIZE</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}{{ page.sizing-link }}/tall-curvy/" class="btn btn-sm btn-default" type="button">TALL/CURVY</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}{{ page.sizing-link }}/tc2/" class="btn btn-sm btn-default" type="button">TC2</a>
		</li>
	</ul>
</div>