<style type="text/css">
	.s-container {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.style-inventory {
		text-align: center;
	}

	.style-inventory h4 {}

	.style-inventory h5 {}
</style>
<div class="row">
	<!-- STYLE #1-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/amelia.jpg" alt="Amelia" width="100%">
			<div class="style-inventory">
				<h4>Amelia</h4>
				<h5>{{ site.categories.amelia | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #1-->
	<!-- STYLE #2-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/azure.jpg" alt="Azure" width="100%">
			<div class="style-inventory">
				<h4>Azure</h4>
				<h5>{{ site.categories.azure | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #2-->
	<!-- STYLE #3-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/bianka.jpg" alt="Bianka" width="100%">
			<div class="style-inventory">
				<h4>Bianka</h4>
				<h5>{{ site.categories.bianka | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #3-->
	<!-- STYLE #4-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/carly.jpg" alt="Carly" width="100%">
			<div class="style-inventory">
				<h4>Carly</h4>
				<h5>{{ site.categories.carly | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #4-->
	<div class="clearfix"></div>
	<!-- STYLE #5-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/cassie.jpg" alt="Cassie" width="100%">
			<div class="style-inventory">
				<h4>Cassie</h4>
				<h5>{{ site.categories.cassie | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #5-->
	<!-- STYLE #6-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/classic.jpg" alt="Classic" width="100%">
			<div class="style-inventory">
				<h4>Classic T</h4>
				<h5>{{ site.categories.classic | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #6-->
	<!-- STYLE #7-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/gigi.jpg" alt="Gigi" width="100%">
			<div class="style-inventory">
				<h4>Gigi</h4>
				<h5>{{ site.categories.gigi | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #7-->
	<!-- STYLE #8-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/gracie.jpg" alt="Gracie" width="100%">
			<div class="style-inventory">
				<h4>Gracie</h4>
				<h5>{{ site.categories.gracie | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #8-->
	<div class="clearfix"></div>
	<!-- STYLE #9-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/harvey.jpg" alt="Harvey" width="100%">
			<div class="style-inventory">
				<h4>Harvey</h4>
				<h5>{{ site.categories.harvey | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #9-->
	<!-- STYLE #10-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/irma.jpg" alt="Irma" width="100%">
			<div class="style-inventory">
				<h4>Irma</h4>
				<h5>{{ site.categories.irma | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #10-->
	<!-- STYLE #11-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/jaxon.jpg" alt="Jaxon" width="100%">
			<div class="style-inventory">
				<h4>Jaxon</h4>
				<h5>{{ site.categories.jaxon | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #11-->
	<!-- STYLE #12-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/joy.jpg" alt="Joy" width="100%">
			<div class="style-inventory">
				<h4>Joy</h4>
				<h5>{{ site.categories.joy | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #12-->
	<div class="clearfix"></div>
	<!-- STYLE #13-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/julia.jpg" alt="Julia" width="100%">
			<div class="style-inventory">
				<h4>Julia</h4>
				<h5>{{ site.categories.julia | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #13-->
	<!-- STYLE #14-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/kids-leggings.jpg" alt="Kids' Leggings" width="100%">
			<div class="style-inventory">
				<h4>Kids' Leggings</h4>
				<h5>{{ site.categories.leggings-kids | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #14-->
	<!-- STYLE #15-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/leggings.jpg" alt="Leggings" width="100%">
			<div class="style-inventory">
				<h4>Leggings</h4>
				<h5>{{ site.categories.leggings-adult | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #15-->
	<!-- STYLE #16-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/lindsay.jpg" alt="Lindsay" width="100%">
			<div class="style-inventory">
				<h4>Lindsay</h4>
				<h5>{{ site.categories.lindsay | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #16-->
	<div class="clearfix"></div>
	<!-- STYLE #17-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/lynnae.jpg" alt="Lynnae" width="100%">
			<div class="style-inventory">
				<h4>Lynnae</h4>
				<h5>{{ site.categories.lynnae | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #17-->
	<!-- STYLE #18-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/madison.jpg" alt="Madison" width="100%">
			<div class="style-inventory">
				<h4>Madison</h4>
				<h5>{{ site.categories.madison | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #18-->
	<!-- STYLE #19-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/mae.jpg" alt="Mae" width="100%">
			<div class="style-inventory">
				<h4>Mae</h4>
				<h5>{{ site.categories.mae | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #19-->
	<!-- STYLE #20-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/maxi.jpg" alt="Maxi" width="100%">
			<div class="style-inventory">
				<h4>Maxi</h4>
				<h5>{{ site.categories.maxi | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #20-->
	<div class="clearfix"></div>
	<!-- STYLE #21-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/monroe.jpg" alt="Monroe" width="100%">
			<div class="style-inventory">
				<h4>Monroe</h4>
				<h5>{{ site.categories.monroe | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #21-->
	<!-- STYLE #22-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/nicole.jpg" alt="Nicole" width="100%">
			<div class="style-inventory">
				<h4>Nicole</h4>
				<h5>{{ site.categories.nicole | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #22-->
	<!-- STYLE #23-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/perfect.jpg" alt="Perfect T" width="100%">
			<div class="style-inventory">
				<h4>Perfect T</h4>
				<h5>{{ site.categories.perfect | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #23-->
	<!-- STYLE #24-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/randy.jpg" alt="Randy T" width="100%">
			<div class="style-inventory">
				<h4>Randy T</h4>
				<h5>{{ site.categories.randy | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #24-->
	<div class="clearfix"></div>
	<!-- STYLE #25-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/sarah.jpg" alt="Sarah" width="100%">
			<div class="style-inventory">
				<h4>Sarah</h4>
				<h5>{{ site.categories.sarah | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #25-->
	<!-- STYLE #26-->
	<div class="col-xs-12 col-sm-3">
		<div class="s-container">
			<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/styles/images/shirley.jpg" alt="Shirley" width="100%">
			<div class="style-inventory">
				<h4>Shirley</h4>
				<h5>{{ site.categories.shirley | size }} Pieces</h5>
			</div>
		</div>
	</div>
	<!-- end STYLE #26-->
</div>