---
layout: default
title: Category
---
<style type="text/css">
	#cat-wrapper a:hover,
	#cat-wrapper a:focus {
		text-decoration: none
	}


	#cat-wrapper p.post-title {
		margin-bottom: 10px;
		text-transform: uppercase;
		padding-top: 10px;
		font-family: museo-sans;
		font-weight: 100;
		text-align: center;
		color: #333;
	}

	.post-preview {
		padding-bottom: 20px;
		padding-top: 20px;
	}

	#cat-wrapper button {
		text-align: center !important;
		left: 50%;
		position: relative;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-top: 0px !important;
	}

	.post-preview button, .post-preview button:hover{
		border: none !important;
	}
</style>
<div id="cat-wrapper" class="fluid-container max-1080">
	{% include size-refinements.html %}
	<div class="row">
		<div class="col-xs-12">
			{% include nav-breadcrumbs.html path=page.path title=page.title %}
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	{% if site.categories[page.category] == null %}
	<div class="clearfix" style="padding: 25px"></div>
	<p class="txt-center max-550" style="padding: 15px;">We currently do not have any <strong>{{ page.title }}</strong> in stock. Be sure to follow us on <a class="txt-link" href="https://www.instagram.com/lularoeerinharried/" target="_blank">Instagram</a> &amp; <a class="txt-link" href="https://www.facebook.com/lularoeerinharried/" target="_blank">Facebook</a> to stay up to date and sign up for our newsletter to be first to know about new releases!</p>
	<div class="clearfix" style="padding: 25px"></div>
	{% include mailchimp-m.html %}
	<div class="clearfix" style="padding: 25px"></div>
	{% else %}
		{% for post in site.categories[page.category] reversed %}
		<div class="post-preview col-xs-12 col-sm-6">
			<a href="{{ post.url | prepend: site.baseurl | remove: 'index.html' }}">
				<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ site.baseurl }}/inventory-images/{{ post.style }}/{{ post.sku }}.jpg" alt="LuLaRoe {{ post.title }}" width="100%">
				<p class="post-title lato-black">
					{{ post.title }}
				</p>
				<button class="btn btn-primary" type="button">View</button>
			</a>
		</div>
		{% endfor %}
	{% endif%}
</div>
